// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

@font-face {
  font-family: retroGameFont;
  src: url(../../font/retro-game.ttf);
}

* {
  font-family: retroGameFont;
}

body {
  background-image: url(/img/City_Background.png);
}

.coming-soon {
  opacity: 70%;
}
